*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: grid;
    width: 500px;
    height: 400px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    text-align: center;
}

.hijo_a{
    background-color: greenyellow;
}

.hijo_b{
    background-color: black;
    color: white
}

.hijo_c{
    background-color: greenyellow;
}

.hijo_d{
    background-color:black;
    color: white
}

.hijo_e{
    background-color: greenyellow;
}

.hijo_f{
    background-color:black;
    color: white
}