*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:black
}

body{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [x0] 1fr [x1];
    grid-template-rows: [y0] 1fr [y1] 6fr [y2] 0.8fr [y3];
}

header{
   
    background-image: linear-gradient(to left top, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0e);
    color: white;
    font-family: 'Lobster', sans-serif;

    grid-column: x0/x1;
    grid-row: y0/y1;

}
nav{
    height: 300px;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2];
}


#logo{
    height: 200px;
    grid-column: x0/x2;
    grid-row: y0/y1;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#secciones{
    height: 100px;
    grid-column: x0/x2;
    grid-row: y1/y2;
    list-style: none;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}

#lista{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32pt;
}



main{
    grid-column: x0/x1;
    grid-row: y1/y2;
    background-image: linear-gradient(to right bottom, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0e);
    font-family: 'Lobster', sans-serif;
    padding: 50px;
}

#actors, #directors, #writers {
    background-image: linear-gradient(to right bottom, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0e);
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#actors-content, #directors-content, #writers-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 10px;
    border: solid black 2px;
 
}

.imgCss:hover{
    filter: opacity(0.8);
    transition: 2s;
}

h2{
    font-size: 28pt;
    margin-bottom: 10px;
}
h2:hover, .contenido:hover{
    color:white;
}


.contenido{
    margin-top: 10px;
    font-size: 14pt;
    text-align: center;
}

.display{
    display: none;
}
footer{
    grid-column: x0/x1;
    grid-row: y2/y3;
    background-color: black;
    height: 80px;
    color:white;
    display: flex;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width:875px ) 
{
   #logo-img{
    width: 450px;
   }
}
