*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:black
}

body{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [x0] 1fr [x1];
    grid-template-rows: [y0] 1fr [y1] 6fr [y2] 0.8fr [y3];
}

header{
   
    background-image: linear-gradient(to left top, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0e);
    color: white;
    font-family: 'Lobster', sans-serif;

    grid-column: x0/x1;
    grid-row: y0/y1;

}
nav{
    height: 300px;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2];
}


#logo{
    height: 200px;
    grid-column: x0/x2;
    grid-row: y0/y1;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#secciones{
    height: 100px;
    grid-column: x0/x2;
    grid-row: y1/y2;
    list-style: none;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}

#lista{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32pt;
}


main{
    background-image: linear-gradient(to right bottom, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0e);
    padding-bottom: 20px;

}

#peliculas {
    grid-column: x0/x1;
    grid-row: y1/y2;
    background-image: linear-gradient(to right bottom, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0e);
    padding: 50px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
 
}

.imgCss:hover{
    filter: brightness(1.5) contrast(1);
    transition: 2s;
}

h2{
    font-size: 28pt;
    margin-bottom: 10px;
}
h2:hover, .contenido:hover{
    color:white;
}


.contenido{
    margin-top: 10px;
    font-size: 14pt;
    text-align: center;
}



form{
    font-family: 'Cinzel';
    font-weight: bold;
    display: flex;
    justify-content: center;
    

#datos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
}

#form-titulo{
    font-size: 22pt;
    font-family: 'Lobster', sans-serif;
}

#form-titulo:hover{
    color: white;
}

label{
    font-size: 18pt;
}

label:hover{
    color: white;
}

#titulo, #estreno, #nacionalidad, #genero, #actores, #director, #guionista {
    background-image: linear-gradient(to right bottom, #833e43, #8c3539, #932a2d, #991e1f, #9d0e0ea6);
    width: 300px;
    height: 30px;
    color: white;
    font-size: 16pt;
}

#titulo:hover, #estreno:hover, #nacionalidad:hover, #genero:hover, #actores:hover, #director:hover, #guionista:hover{
color: black
}

#file{
    margin-top: 20px;
}
input[type="file"]{
    display: none;
}
#imagen2{
    background-color: black;
    color: #9d0e0e;
    padding: 10px;
}
#imagen2:hover{
    cursor: pointer;
    background-color: white;

}

button{
    border: none;
    width: 200px;
    height: 50px;
    background-color:black;
    color: #9d0e0e;
    font-family: 'Cinzel';
    font-weight: bold;
    font-size: 20pt;
    margin-top: 20px;;

}

button:hover{
    color:white;
    cursor: pointer;
}
footer{
    grid-column: x0/x1;
    grid-row: y2/y3;
    background-color: black;
    height: 80px;
    color:white;
    display: flex;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width: 875px) 
{
    #imagen2{
    font-size: 14pt;
    }
    
}

@media screen and (max-width:700px ) 
{
   #logo-img{
    width: 500px;
   }

   label{
    font-size: 14pt;
    }
    #imagen2{
    font-size: 10pt;
    }
}
